<div class="block mx-auto my-12 p-8 bg-blue w-1/2 border border-gray-200 rounded-lg shadow-lg text-gray-800">
    <h1 class="text-2xl font-bold mb-8 text-center">DISTRIBUCION DEL VOLUMEN EN PLAN GRAFICO POR MICROCICLO / ETAPA</h1>

    <table class="w-full">
        <thead>
            <tr class="font-bold py-3">
                <th colspan="5" class="w-1/3">Etapa general</th>
                <th colspan="5" class="w-1/3">Etapa especial</th>
                <th colspan="5" class="w-1/3">Etapa competitiva</th>
                <th>MACRO</th>
            </tr>
            <tr class="font-bold py-3">
                <th class="w-1/3">Min</th>
                <th class="w-1/3">Max</th>
                <th class="w-1/3">Prom.</th>
            <th>Semanas</th>
            <th>V.etapa</th>
            <th>Min</th>
            <th>Max</th>
            <th>Prom.</th>
            <th>Ins.</th>
            <th>Semanas</th>
            <th>V.etapa</th>
            <th>Min</th>
            <th>Max</th>
            <th>Prom.</th>
            <th>Ins.</th>
            <th>Semanas</th>
            <th>V.etapa</th>
            <th>VOLUMEN TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <!-- Tus filas de datos existentes van aquí -->
        <tr style="font-weight: bold;">
            <td>VEL. ESPECIAL(SEG)</td>
            <td>{{data.VEL_ESPECIAL}}</td>
        </tr>
       <tr style="font-weight: bold;">
            <td>PERIODO</td>
            <td>{{data.PERIODO}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>ETAPA</td>
            <td>{{data.ETAPA}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>SEMANA</td>
            <td>{{data.SEMANA}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>INICIA</td>
            <td>{{data.INICIA}}</td>
        </tr>
       <tr style="font-weight: bold;">
            <td>TERMINA</td>
            <td>{{data.TERMINA}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>TEST FISICOS</td>
            <td>{{data.TEST_FISICOS}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>MESOCICLO</td>
            <td>{{data.MESOCICLO}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>CICLICIDAD</td>
            <td>{{data.CICLICIDAD}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>ACENTOS</td>
            <td>{{data.ACENTOS}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>Competencias prep-</td>
            <td>{{data.COMPETENCIAS_PREP}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>MEDIOS FISICOS</td>
            <td>{{data.MEDIOS_FISICOS}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>RAG (KM)</td>
            <td>{{data.RAG}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>RAE (MIN)</td>
            <td>{{data.RAE}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>VEL.GENERAL(MTROS)</td>
            <td>{{data.VEL_GENERAL}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>VEL. ESPECIAL(SEG)</td>
            <td>{{data.VEL_ESPECIAL}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>RES. VEL.GEN(MTROS)</td>
            <td>{{data.RES_VEL_GEN}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>RES.VEL.ESP(MIN)</td>
            <td>{{data.RES_VEL_ESP}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>FUERZA. GEN(REP)</td>
            <td>{{data.FUERZA_GEN}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>FUERZA.ESP(REP)</td>
            <td>{{data.FUERZA_ESP}}</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>COORDINACION tecnica(REP)</td>
            <td>{{data.COORDINACION_TECNICA}}</td>
        </tr>
         <tr style="font-weight: bold;">
            <td>FLEXIBILIDAD(MIN)</td>
            <td>{{data.FLEXIBILIDAD}}</td>
        </tr>
        <!-- Agrega más filas aquí -->
    </tbody>
</table>


    <table>
        
        <!-- Agrega más filas aquí -->
    </table>