<div class="block mx-auto my-12 p-8 bg-blue w-1/2 border border-gray-200 rounded-lg shadow-lg text-gray-800">
    <h1 class="text-2xl font-bold mb-8 text-center">DISTRIBUCION DEL VOLUMEN EN PLAN GRAFICO POR MICROCICLO / ETAPA</h1>

<table >
  <tr>
    <td>PERIODO</td>
    <td>{{data.PERIODO}}</td>
  </tr>
  <tr>
    <td>ETAPA</td>
    <td>{{data.ETAPA}}</td>
  </tr>
  <tr>
    <td>SEMANA</td>
    <td>{{data.SEMANA}}</td>
  </tr>
  <tr>
    <td>INICIA</td>
    <td>{{data.INICIA}}</td>
  </tr>
  <tr>
    <td>TERMINA</td>
    <td>{{data.TERMINA}}</td>
  </tr>
  <tr>
    <td>TEST FISICOS</td>
    <td>{{data.TEST_FISICOS}}</td>
  </tr>
  <tr>
    <td>MESOCICLO</td>
    <td>{{data.MESOCICLO}}</td>
  </tr>
  <tr>
    <td>CICLICIDAD</td>
    <td>{{data.CICLICIDAD}}</td>
  </tr>
  <tr>
    <td>ACENTOS</td>
    <td>{{data.ACENTOS}}</td>
  </tr>
  <tr>
    <td>Competencias prep-</td>
    <td>{{data.COMPETENCIAS_PREP}}</td>
  </tr>
  <tr>
    <td>MEDIOS FISICOS</td>
    <td>{{data.MEDIOS_FISICOS}}</td>
  </tr>
  <tr>
    <td>RAG (KM)</td>
    <td>{{data.RAG}}</td>
  </tr>
  <tr>
    <td>RAE (MIN)</td>
    <td>{{data.RAE}}</td>
  </tr>
  <tr>
    <td>VEL.GENERAL(MTROS)</td>
    <td>{{data.VEL_GENERAL}}</td>
  </tr>
  <tr>
    <td>VEL. ESPECIAL(SEG)</td>
    <td>{{data.VEL_ESPECIAL}}</td>
  </tr>
  <tr>
    <td>RES. VEL.GEN(MTROS)</td>
    <td>{{data.RES_VEL_GEN}}</td>
  </tr>
  <tr>
    <td>RES.VEL.ESP(MIN)</td>
    <td>{{data.RES_VEL_ESP}}</td>
  </tr>
  <tr>
    <td>FUERZA. GEN(REP)</td>
    <td>{{data.FUERZA_GEN}}</td>
  </tr>
  <tr>
    <td>FUERZA.ESP(REP)</td>
    <td>{{data.FUERZA_ESP}}</td>
  </tr>
  <tr>
    <td>COORDINACION tecnica(REP)</td>
    <td>{{data.COORDINACION_TECNICA}}</td>
  </tr>
  <tr>
    <td>FLEXIBILIDAD(MIN)</td>
    <td>{{data.FLEXIBILIDAD}}</td>
  </tr>
  <!-- Agrega más filas aquí -->
</table>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
  Ingresa el ID del plan gráfico que desea ver
</button>

<label for="planId" class="block text-sm font-medium text-gray-700">ID del plan gráfico</label>
<input type="text" id="planId" name="planId" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">

<table>
    <!-- Agrega más filas aquí -->
</table>